<div class="desktop-container" [ngStyle]="{backgroundImage: 'url('+wallpaper+')'}">
    <!-- Icon space -->
    <app-desktop-icons [shortcuts]="initialShortcuts" (open)="openWindow($event)"></app-desktop-icons>

    <app-window *ngFor="let window of openWindows" 
      [window]="window" 
      (close)="closeWindow(window)"
      (bringToFront)="bringToFront(window)"
      (minimize)="minimizeWindow($event)"
     >
    </app-window>


    <app-task-bar [windows]="getMinimizedWindows()" (restore)="restoreWindow($event)"></app-task-bar>

  </div>
