<div #taskBar class="task-bar">
    <div class="task-bar-bg"></div>
    <div class="task-bar-contents">
 
      <div class="minimized-windows">
        <button *ngFor="let window of windows" (click)="restoreWindow(window)">
          <img [src]="window.icon" alt="{{ window.title }}" />
        </button>
      </div>

      <!-- System Tray -->
      <div class="system-tray">
        <div class="icon-wrapper">
          <img [src]="icons.taskbar.WIN_LOGO" alt="Windows" />
          <span class="tooltip">Start</span>
        </div>
      
        <div class="icon-wrapper">
          <img [src]="icons.taskbar.MS_STORE" alt="Microsoft Store" />
          <span class="tooltip">Microsoft Store</span>
        </div>
      
        <div class="icon-wrapper">
          <img [src]="icons.common.EDGE_BROWSER" alt="Edge" />
          <span class="tooltip">Microsoft Edge</span>
        </div>
      </div>
      
      
    </div>
</div>
  
  
